= form_for([product], html: {class: 'stdform stdform2'}) do |f|
  - if product.errors
    %ul
      - product.errors.full_messages.each do |e|
        %li
          =e
  %p
    %label Name
    %span.field
      = f.text_field :name, class: 'input-xxlarge'
  %p
    %label Type
    %span.field
      = f.text_field :type, class: 'input-xxlarge'
  %p
    %label Length
    %span.field
      = f.text_field :length, class: 'input-xxlarge'
  %p
    %label Width
    %span.field
      = f.text_field :width, class: 'input-xxlarge'
  %p
    %label Height
    %span.field
      = f.text_field :height, class: 'input-xxlarge'
  %p
    %label Weight
    %span.field
      = f.text_field :weight, class: 'input-xxlarge'
  %p.stdformbutton
    = f.button nil, class: 'btn btn-primary', disable_with: 'Creating...'
    %button.btn{:type => "reset"} Reset Form

